:root {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.valute-details {
    padding: 2em;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    border-radius: 1.5em;
}

.valute-details-header {
    padding-bottom: 2em;
    border-radius: 2em;
}

.dropdown {
    margin-top: 2em;
    display: block;
}
