:root {
    font-size: 1em;
}

.valute-details {
    padding-left: 1em;
    padding-top: 1em;
    min-height: 20vh;
    max-height: 20vh;
    background-color: white;
}

.valute-details-header {
    padding-bottom: 2em;
    border-radius: 2em;
}

.dropdown {
    padding-left: 1em;
}
